header{
  margin: 2vw;
}

main{
  padding: 2vw;
  padding-top: 3vw;
}

.select{
  float: left;
}

.location, .date, .hour{
  margin-left: 1vw;
  float: left;
}

.slider{
  margin-left: 1vw;
  float: left;
}

.sliderValue{
  margin-left: 1vw;
  float: left;
}

.search{
  margin-left: 1vw;
  float: left;
}

@media screen and (min-width: 1024px) {
  .image {
    width: 50vw;
  }
}

@media screen and (max-width: 1024px) {
  .image {
    width: 90vw;
  }
}
